<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>    
    <add name="bdbWk" connectionString="Server=vmdevsql01.dcsr.site;Database=ursdashboard;Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="bdb" connectionString="Data Source=tcp:s09.winhost.com;Initial Catalog=DB_46941_c3;User ID=DB_46941_c3_user;Password=d@taBa5e;Integrated Security=False;"/>
    <!--<add name="bdb" connectionString="Data Source=68.178.217.53;Initial Catalog=srproj;User Id=srproj;Password=myClass01!" providerName="MySql.Data.MySqlClient" />-->
  </connectionStrings>
</configuration>
